{{page-title "Dashboard"}}
<h1>Candidate Dashboard</h1>
<form style="float:right;" action="http://localhost:8080/PRM_portal/logout">
    <input class="button" type="submit" value="LogOut" />
</form>


{{#if @model.showButton}}
    <form action="http://localhost:8080/PRM_portal/setstarttime">
        <input type="submit" class="button" value="Start" />
    </form>
{{else}}
    <br><div class="container" style="width: 80%;">
        <h2>{{@model.question}}</h2>
        <form action="http://localhost:8080/PRM_portal/setanswer" method="post">
            <input type="hidden" value={{@model.qid}} name="qno" />
            <Textarea style="font-size: 20px;" name="ans" @value=""  placeholder="Type Your Answer Here" id="ans" />
            <br><input type="submit" row="10" class="button" {{on 'click' this.test}} value="Submit">
        </form>
        {{#if this.loadingmsg}}
         <div class="loader-small"></div>
         <p>Answer Submitted waiting for response....</p>
        {{/if}}
    </div>
{{/if}}
